.DS_Store
node_modules
.worktrees
.sst
.env
.env.local
.idea
.vscode
.codex
*~
*.log
playground
tmp
dist
ts-dist
.turbo
**/.serena
.serena/
**/.omo
.omo/
/result
refs
Session.vim
/opencode.json
a.out
target
.scripts
.direnv/

# Windows reserved device names
nul
NUL

# Local dev files
opencode-dev
UPCOMING_CHANGELOG.md
logs/
*.bun-build
tsconfig.tsbuildinfo

# Project scoring — binary is READ-ONLY, never modified by the binary
.project.json
